.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 15px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.goodreport {
    background-color: lightgreen;
    margin: 30px 10px;
    border-radius: 10px;
    
}

.conditionreport {
    background-color: lightpink;
    margin: 30px 10px;
    border-radius: 10px;
}